<% include ../index.ejs %>

<div class="container row">
        <div class="col-4S col-md-2"></div>
    <div class="col-12 col-sm-6 col-md-8">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
                <div class="lh-100">
                    <h6 class="mb-0 lh-100">Registration Form</h6>
                    <!-- <small>Since 2011</small> -->
                </div>
            </div>

            <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
            <% } %>

            <!-- FORM -->
            <form class="pt-3" action="" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username"
                        placeholder="Enter unique uername">
                </div>

                <!-- PASSWORD -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password"
                        placeholder="Enter password">
                </div>


                <!-- REMEMBER ME -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Check me out
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>


            <!-- END FORM -->
            <div class="media text-muted pt-3">
                <small class="d-block text-right mt-3 pb-4">
                    <a href="/login">Already Login</a>
                    <a href="#" style="color: #6f42c1"><span> || </span> Admin Login</a>
                </small>
            </div>
        </div>
    </div>
    <div class="col-3 col-md-2"></div>
</div>


<% include ../include/footer %>